@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: #000;
  color: #fff;
}

[data-flow-section] {
  will-change: transform;
}
